<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">

        <h3>Explore new places</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          When you’ve had your fill of history, culture and man-made wonders, sometimes sun, sea and sand is all you need.
          Register and explore new destinations with us!
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <h3>Buy cheapest airplane tickets</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Book SkyBooker flights and vacation packages to 100+ destinations.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
       <h3>Accomodation</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Find, compare, and book the best hotels on SkyBooker! Discover cheap hotels, hotels near you, hotels for last-minute trips, and more.
        </p>
      </div>
    </div>
  </div>

</div>
