<app-navbar></app-navbar>
<div class="container">
  <div class="table-header">
    <p class="table-title">Available flights</p>
      <div class ="inputQuantity">

        <mat-label class="ticketAmount">ticket amount :</mat-label>
        <input type="number" placeholder="amount"  [(ngModel)]="ticketDto.amount"/>
      </div>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> ID </th>
      <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.id}}</td>
    </ng-container>
    <ng-container matColumnDef="departure">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> DEPARTURE </th>
      <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.airportDeparture}}</td>
    </ng-container>
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> DESTINATION </th>
      <td mat-cell *matCellDef="let flight" class="cell-center">
        {{flight.airportDestination}}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> DURATION </th>
      <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.duration}}</td>
    </ng-container>
    <ng-container matColumnDef="departureTime">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> DATE & TIME </th>
      <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.departureTime}}</td>
    </ng-container>
    <ng-container matColumnDef="ticketPrice">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> PRICE </th>
      <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.ticketPrice}}$</td>
    </ng-container>

    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> </th>
      <td mat-cell *matCellDef="let flight" class="cell-center" >
        <button (click)="buyTicket(flight.id)" class="add-button"  >
          B U Y
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>
<section>

  <div class="search">
    <app-search-flight></app-search-flight>
  </div>
</section>

<section id="footer" data-aos="fade-down" data-aos-duration="2000">
  <app-footer-component></app-footer-component>
</section>
