<app-navbar></app-navbar>
<div>
  <form [formGroup]="changeInfoForm" (ngSubmit)="changeInfo">
    <div>

      <div>
        <span>Name</span>
        <input [formControlName]="'name'" type="text" name="name" value="{{user.name}}" placeholder="Enter your name" required>
      </div>

      <div>
        <span>Surname</span>
        <input [formControlName]="'surname'" type="text" name="surname" value="{{user.surname}}" placeholder="Enter your surname" required>
      </div>

    <div>
      <span>Post Number</span>
      <input [formControlName]="'cityId'" value="{{user.cityId}}"  type="text" name="cityId" required>
    </div>

      <div>
        <span>Email</span>
        <input [formControlName]="'email'" value="{{user.email}}"  type="text" name="email" readonly>
      </div>


    <div class="button">
      <input type="submit" value="Update" (click)="changeInfo()">
      <input type="submit" value="Delete Account">
    </div>
    </div>

  </form>
</div>
