
.container {
  width: 60%;
  margin: auto;
  margin-top: 120px;
  border-radius: 3px;
  border:  #DCD6CC 1px solid;
  background-color: #b9bdbd;
  margin-bottom: 200px;

  align-items: end;
}

table {
  width: 100%;
  background-color: #f5f6f6;
  font-family:"Times New Roman";
}

.table-title {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 23px;
  color: #261867;
  font-family: "Modern No. 20";
}

.cell-center {
  text-align: center;
}

.clickable:hover {
  font-weight: bold;
  cursor: pointer;
}

.add-button {
  margin: 10px 20px 10px 10px;
  color: black;
  background-color: #6586b9;
  float: right;
}

.table-header {
  display: flex;
  font-size: 20px;
  font-family:"Times New Roman";
}

p {
  float: left;
  margin-right: auto;
}

